*.class
*.orig
.settings*
.project
.classpath
*.pyc
data/examples*
data/taxonomies*
target*
viz*
# Package Files #
*.jar
*.war
*.ear
save_trees
data
Probs
.DS_Store
dependency-reduced-pom.xmlsimpleprob-test.db
simpleprob-out
simpleprob-test.db
simpleprob-diff-order-out
simpleprob-diff-order-test.db
simpleprob-taxofirst-out
simpleprob-taxofirst-test.db
simpleprob-one-tree-out
simpleprob-one-tree-test.db
simpleprob-with-answer-out
simpleprob-with-answer-test.db
even-simplerprob-diff-order-test.db
even-simplerprob-diff-order-out
dependency-reduced-pom.xml
simplest-out
simplest-test.db

trivialconf-out
trivialconf-test.db
reltaxaprob-out
reltaxaprob-test.db/
