*.class
*.orig
.settings*
.project
.classpath
*.pyc
data/examples*
data/taxonomies*
target*
viz*
# Package Files #
*.jar
*.war
*.ear
save_trees
data
Probs
.DS_Store
dependency-reduced-pom.xml
simpleprob-*
simpleprob-diff-order-*
simpleprob-taxofirst-*
simpleprob-one-tree-*
simpleprob-with-answer-*
even-simplerprob-diff-order-*
simplest-*
trivialconf-*
reltaxaprob-*
trivialconf2-*
unsupportedprob-*
